.list-group-item{
background-color:$table_blue;
	
}
.price{
	font-size:40px;
}
.sup{
	font-size:24px;
	padding-bottom:10px;
}
.form-inline{
.form-control{
	position: relative;
	width:100%;
	right:0;
	bottom:0;
	height:36px;
	border-radius:18px;

}
}
footer{
.btn{
	position:absolute;
	border-radius:18px;
	right:10px;
}
}

.blog{
	.bd{
	border: 1px solid #e5e5e5;
	
	}
}