.icon{
	font-size:20px;
	color:$blue;
	padding:10px 0;
}
.icon-cicle:hover{
	background-color:$blue;
	border:none;
	i{
	color:#fff;
	}
}

.icon-cicle{
	background-color:transparent;
	height:60px;
	width:60px;
	
	border: 1px solid #e5e5e5;
	border-radius:50%;
	top:00px;
	left:0px;
	bottom:0px;
	right:0px;
	line-height:60px;
}


.what-we-do{
	.icon-cicle{
		height:80px;
		width:80px;
		line-height:80px;
	}
}

