
/*heading for all sectons*/
.head-description{
	width: 50%;
	margin: 0 auto;
}
.container{
	h2{
	margin:0;
	}
}

.about-chart{
	background-color:$par;

}
.testimonial{
	background-color:$footb;
}

.pricing-table{
	background-color:$par;
}