$light_blue: #4eb7f4;
$blue: #1d9de2;
$dark_blue: #0d75ad;
$light_green: #a6cf7b;
$green: #90c45b;
$dark_green: #739c48;
$roboto: #4c4c4c;
$par:#f2f7ff;
$foota:#414141;
$footb:#333232;
$light-black:#343333;
$table_green:#edf9dc;
$table_blue:#f7f9fd;
$icon:#f5f5fd;